/* --1-- General Rules -----------------------*/
@font-face {
    font-family: 'bagel fat';
    src: url('../fonts/BagelFatOne-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'basic sans', sans-serif;
    color:#32327b;
    background-color: rgb(255, 255, 255);
}

h2, h3, h4, h5, h6 {
    font-family: 'bagel fat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.center-box{
    justify-self: center;
}

.hidden-box{
   display:none;
}

.justify-right{
    text-align: right;
}

/* --2-- Header ----------------------*/

#cart{
    display: none;
}

#pfp{
    display: none;
}

#button{
    background: url(../images/burger.svg) center no-repeat;
    border: 0px;
    width: 20px;
    height: 20px;
    transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
}

#button.expanded{
    transform: rotate(90deg);
}

#burger-con {
   margin-top: 20px;
   display: none;
   margin-bottom: 20px;
}

#burger-con.slide-toggle {
   display: block;
}

#nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-links li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color:white;
    text-decoration: none;
}

#logo{
    padding: 50px;
    cursor: pointer;
}

#header-con{
    align-items: center;
}

header{
    background-color: #32327b;
    /* box-shadow: 0 5px 30px #32327b; */
}

/* --3-- Hero Image ---------------------------- */

#hero-image{
   grid-column: 1/-1;
   grid-row:1/1;
   justify-self: center;
   object-fit: cover;
   object-position: center;
   /* filter: contrast(150%); */
   z-index: -1;

}

#nested-hero-grid{
    grid-column: 2/3;
    grid-row: 1;
}

#nested-hero-grid h3{
    color: white;
    letter-spacing: 5px;
    font-size: 28px;
    text-align: right;
    align-self: end;
}

#nested-hero-grid p{
    text-align: right;
    padding-top: 30px;
    color: white;
}

#hero-button{
    border: 5px solid white;
    background-color: white;
    border-radius: 100px;
    padding: 10px;
    grid-row: 2/3;
    align-content: center;
    align-self: center;
    text-align: center;
}

#hero-button a{
    text-decoration: none;
    color: #32327b;
}

@keyframes border-colour{
    0%{border: 5px solid #f1e902}
    25%{border: 5px solid #f47a20}
    50%{border: 5px solid #ed1a60}
    75%{border: 5px solid #3d62ad}
    100%{border: 5px solid #32327b}
}

#hero-button:hover{
    animation: border-colour 1s ease-in-out;
    animation-iteration-count: infinite;
    cursor:pointer;
}

#hero-text{
    margin-top: 50px;
    text-shadow: 3px 3px 2px #32327b;
}

#hero-text h3{
    text-align: left;
    font-size: 70px;
}

#hero-text p{
    font-size: 20px;
    text-align: left;
}

#welcome{
    background-color: #ffffff;
    background-image: url(../images/blue-home-hero-divider.svg);
    background-position: bottom center;
    background-repeat: repeat;
    color: white;
    background-size:  cover;
    padding-bottom: 100px; 
}

#welcome div > h2{
    padding-left: 0;
    padding-right: 0;
}

#welcome div > p {
    line-height: 30px;
}

.hidden-star{
    display: none;
    align-self: center;
}

#home-welcome{
    padding-top: 20px;
    padding-bottom: 30px;
}

/* ------------ homepage bottle and hotspots -----------*/

#bottle-info {
    position: relative;
}

.home-info-hotspot{
    position: absolute;
}

.home-info-hotspot a{
    font-size: 30px;
    position: absolute;
    top: 29px;
    left: 29px;
    text-decoration: none;
}

#hotspot-info-text{
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

#technology{
    top: 15%;
    left: 34%;
    background-color: rgba(237, 26, 96, 0.55);
}

#technology-info{
    grid-column: 1/5;
    grid-row: 1;
}

#sustainability{
    top: 55%;
    left: 33%;
    background-color: rgba(244, 122, 32, 0.55);
}

#flavours{
    top: 40%;
    left: 52%;
}

.lightbox{
    background-color: rgba(50, 50, 123, 0.5);
    position: absolute;
    top: 25%;
    display:none;
    padding: 20px;
    line-height: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
}

.lightbox:target { 
    display: block; 
    opacity: 1;
    transition: all 1s ease-in-out;
}

.lightbox_close{
    text-decoration:none;
    color: #32327b;
    font-size: 40px;
    font-family: 'bagel fat', sans-serif;
    font-weight: 100;
}

.lightbox0{
    background-color: rgba(237, 26, 96, 0.75);
}

.lightbox1{
    background-color: rgba(244, 122, 32, 0.75);
}

.lightbox2{
    background-color: rgba(241, 233, 2, 0.75);
}

#why-choose-orbitz{
    background-color: #ffffff;
    background-image: url(../images/pink-divider.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px; 
    color: white;
    height: 620px;
}

#why-choose-orbitz p {
    line-height: 50px;
}

#why-choose-orbitz div {
    align-self: center;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#why-choose-orbitz h2{
    padding: 0px;
}

.product-box-home{
    border: 8px solid #32327b;
    margin-bottom: 30px;
    border-radius: 500px 500px 20px 20px;
    transition: all .5s ease-in-out;
}

.product-box-home h3{
    padding: 10px;
    text-align: center;
}

#blueberry-card-home:hover{
    box-shadow: inset 0px -700px 0 0 #3d62ad;
    color: white;
    transform: translateY(-10px);
    border-color: #3d62ad;
}

#strawberry-card-home:hover{
    box-shadow: inset 0px -700px 0 0 #ed1a60;
    color: white;
    transform: translateY(-10px);
    border-color: #ed1a60;
}

#orange-card-home:hover{
    box-shadow: inset 0px -700px 0 0 #f47a20;
    color: white;
    transform: translateY(-10px);
    border-color: #f47a20;
}

#lemon-card-home:hover{
    box-shadow: inset 0px -700px 0 0 #f1e902;
    transform: translateY(-10px);
    border-color: #f1e902;
}

#shop-now{
    background-color: #32327b;
    border-radius: 50px;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-bottom: 40px;
    transition: all .1s ease-in-out;
}

#shop-now:hover{
    cursor: pointer;
    transform: translateY(-10px);
}

#shop-now a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

#any-occasion{
    background-color: #ffffff;
    background-image: url(../images/orange-divider-home.svg);
    background-position:center;
    background-repeat: repeat;
    background-size: cover;
    padding-bottom: 100px; 
    color: white;
    height: 620px;
    padding: 30px 15px;
    line-height: 30px;
}

#any-occasion div{
    align-self: center;
}

#any-occasion h2{
    padding: 0;
}

#join-the-crew h3{
    padding: 20px 0px;
}

#join-the-crew p{
    line-height: 30px;
}

#join-the-crew{
    margin-bottom: 50px;
}

#astro-join{
    border-radius: 500px 500px 20px 20px;
    margin: 30px;
    align-self: center;
}

form{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

input, textarea{
    padding: 15px;
    border-radius: 50px;
    height: 60px;
    font-family: 'basic sans', sans-serif;
    border: 5px solid #32327b;
    background-color: #ffffff;
    margin-top: 7px;
    margin-bottom: 7px;
}

#name{
    grid-column: 1/5;
    border-color: #3d62ad;
    background-color: rgba(61, 98, 173, 0.25);
    cursor: pointer;
}

#email{
    grid-column: 1/5;
    border-color: #ed1a60;
    background-color: rgba(237, 26, 96, 0.25);
    cursor: pointer;
}

#phone-number{
    grid-column: 1/5;
    border-color: #f47a20;
    background-color: rgba(244, 122, 32, 0.25);
    cursor: pointer;
}

#transmission{
    grid-column: 1/5;
    border-color: #f1e902;
    background-color: rgba(241, 233, 2, 0.25);
    cursor: pointer;
    height: 120px;
    border-radius: 30px;
}

#blast-off{
    grid-column: 3/5;
}

#blast-off:hover{
     animation: border-colour 1s ease-in-out;
    animation-iteration-count: infinite;
    cursor:pointer;
    transition: all 0.5s ease-in-out;
    animation-duration: 3s;
}

#form-reset{
    grid-column: 1/2;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#form-reset:hover{
    background-color: #32327b;
    color: white;
}

/* ---------- PRODUCTS PAGE -------------------------- */

#products-hero-text{
    color:white;
    font-size: 21px;
    transition: all .5s ease;
    -webkit-text-stroke: 10px #32327b;
    paint-order: stroke; 
}

#products-intro{
    background-color: #ffffff;
    background-image: url(../images/blue-home-hero-divider.svg);
    background-position: bottom center;
    background-repeat: repeat;
    color: white;
    background-size: 100% auto;
    padding-bottom: 100px; 
}

.product-card{
    padding: 100px 50px 20px 50px;
    margin: 15px;
    border-radius: 500px 500px 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
   grid-column-gap: 30px;
}

.product-card h4{
    grid-column: 2/4;
    text-align: center;
}

.product-card p{
    grid-column: 1/3;
    padding-top: 40px;
    line-height:  40px;
    padding-left: 30px;
    font-size: 20px;
}

.product-card img{
    grid-column: 3/5;
}

.product-card button{
    background-color: white;
    border: none;
    font-family: 'basic sans', sans-serif;
    /* grid-column: span 2; */
    margin: 10px;
    /* padding: 20px; */
    border-radius: 50px;
    color: #32327b;
    border: 5px solid white;
}

.quantity{
    grid-column: 1/5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}

.plus{
    font-size: 35px
}

.plus:hover{
    cursor:pointer;
}

.quantity-number{
    font-size: 25px;
}

.minus{
    font-size: 35px;
}

.minus:hover{
    cursor: pointer;
}

.add-to-cart{
    grid-column: 1/5;
    padding: 20px;
}

.classic{
    grid-column: span 2;
    padding: 20px;
    transition: all .5s ease-in-out;
}

.classic:hover{
    cursor: pointer;
    transform: translateY(-5px)
}

.zero-sugar{
    grid-column: span 2;
    padding: 20px;
    transition: all .5s ease-in-out;
}

.zero-sugar:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

#blueberry-product-card{
    background-color: #3d62ad;
    color: white;
}

#strawberry-product-card{
    background-color: #ed1a60;
    color: white;
}

#orange-product-card{
    background-color: #f47a20;
    color: white;
}

#lemon-product-card{
    background-color: #f1e902;
}

.add-to-cart:hover{
    animation: border-colour 2s ease-in-out;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#testimony{
    display: grid;
    background-color: #fff;
    background-image: url(../images/dark-blue-divider.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:  contain;
    padding-bottom: 100px; 
    height: 530px;
    color: white;
    font-size: 20px;
    padding: 15px;
    margin: 40px 0px;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#multi-intro{
    align-self: center;
    line-height: 35px;
}

#blueberry-pack{
    background-color: #3d62ad;
    color: white;
}

#blueberry-pack img{
    grid-column: 1/5;
}

#strawberry-pack{
    background-color: #ed1a60;
    color: white;
}

#strawberry-pack img{
    grid-column: 1/5;
}

#orange-pack{
    background-color: #f47a20;
    color: white;
}

#orange-pack img{
    grid-column: 1/5;
}

#lemon-pack{
    background-color: #f1e902;
}

#lemon-pack img{
    grid-column: 1/5;
}

#galaxy-pack-con{
    background-color: #fff;
    background-image: url(../images/galaxy-bg-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#galaxy-pack-info-card{
    background-color: white;
    margin: 30px;
    border-radius: 500px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 30px;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}

#galaxy-pack-info-card #new{
    position: absolute;
    font-family: 'bagel fat';
    font-size: 60px;
    transform: translateX(50px) rotate(-25deg);
}

div#galaxy-pack-info-card #new {
    color: #32327b;
    -webkit-text-stroke: 10px white;
    paint-order: stroke;
}

#galaxy-h4{
    grid-column: 2/4;
}

#galaxy-pack-info-card p{
    grid-column: 1/5;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    order: 1;
    text-align: center;
}

#galaxy-pack-info-card img{
    grid-column: span 4;
}

#galaxy-pack-info-card #new{
    color: white;
}

#galaxy-pack-info-card button{
    border: 5px solid #32327b;
    background-color: white;
    border-radius: 30px;
    font-family: 'basic sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    order: 1;
    color: #32327b;
}

#galaxy-pack-info-card .quantity{
    grid-column: 1/5;
}

#galaxy-pack-info-card .add-to-cart{
    grid-column: 1/5;
    background-color: #32327b;
    color: white;
}

#galaxy-pack-info-card .classic{
    grid-column: 1/3;
}

#galaxy-pack-info-card .zero-sugar{
    grid-column: 3/5;
}

#merch-intro{
    line-height: 30px;
    align-self: center;
}

.merch-card{
    border: 5px solid #32327b;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 30px;
    border-radius: 500px;
    padding: 20px;
}

.merch-card img{
    grid-column: 2/4;
    justify-self: center;
}

.merch-card h4{
    grid-column: 1/5;
    text-align: center;
}

.merch-card p {
    grid-column: 1/5;
    padding: 30px;
}

.merch-card button{
    grid-column: 2/4;
    border: 5px solid #32327b;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    font-family: 'basic sans', sans-serif;
}

.merch-card .quantity{
    color:#32327b;
}

.merch-card .add-to-cart{
    background-color: #32327b;
    color: white;
}


/* ---------- ABOUT PAGE ------------------ */

.about-hero-text h2{
    font-size: 40px;
    font-family: 'bagel fat', sans-serif;
    color: white;
    -webkit-text-stroke: 10px #32327b;
    paint-order: stroke;
    padding: 30px
}

.about-hero-text h2:nth-of-type(2){
    text-align: right;
}

.about-h{
    padding: 40px;
    font-weight: 100;
}

#about-us{
    align-self: center;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#about-us-img{
    align-self: center;
}

#about-us h2{
    margin-bottom: 20px;
}

video{
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#step-in{
    align-self: center;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 100px;
}

/* --- history section */
#history-96{
    display: flex;
}

#history-96 p{
    align-self: center;
}

#history-97{
    display: flex;
}

#history-97 p{
    align-self: center;
}

#history-99{
    display: flex;
}

#history-99 p{
    align-self: center;
}

#history-26{
    display: flex;
}

#history-26 p{
    align-self: center;
}

#star-97{
    order: 1;
}

#star-26{
    order: 1;
}

#history{
    background-color: #ffffff;
    background-image: url(../images/history-bg-mobile.svg);
    background-position:center;
    background-repeat: repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px; 
    color: white;
    /* height: 1000px; */
}

/* -- about the beverage section ----- */

#slider-con{
    overflow: hidden;
    position: relative;
}

#image-slider{
    display: flex;
    transition: transform .5s ease-in-out;
}

.slider-img{
    max-width: 100%;
    height: auto;
}

#prev-btn,#next-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:15px;
    cursor:pointer;
    padding:20px;
    border:none;
    background-color:rgba(255,255,255,.6);
    font-family: 'basic sans';
    color:#32327b;
}

#prev-btn{
    left:0px;
}

#next-btn{
    right:0px;
}

.about-bev-p{
    line-height: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.blue-star-svg{
    align-self: center;
}

.info-card{
    display: flex;
    background-color: #f1e902;
    border-radius: 50px;
    margin: 60px 20px;
}

.info-card div{
    background-color: white;
    padding: 10px;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    margin: 10px;
    display: flex;
    border: 5px solid #32327b;
}

.info-card div > img {
    justify-content: center;
    align-items: center;
}

.info-card p {
    align-self: center;
}

#made-in-canada{
    background-color: #3d62ad;
    color: white;
}

#natural-leaf{
    background-color: #ed1a60;
    color: white;
}

/* .info-card:nth-of-type(3){
    background-color: #f47a20;
    color: white;
} */

#recyclable{
    background-color: #f47a20;
    color:white;
}

/* -- FAQ ---- */
#faq{
    background-color: #ffffff;
    background-image: url(../images/faq-bg-mobile.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

#faq summary{
    list-style: none;
    margin-top: 60px;
    margin-bottom: 60px;
}

#faq details{
    background-color: white;
    border-radius: 100px;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

#faq details > p{
    border-top: 1px solid #32327b;
    padding-top: 10px;
}

#faq h2{
    color: white;
}

/* -- fruit drag/drop section */
#flavour-instructions{
    line-height: 30px;
    margin-bottom: 10px;
    align-self: center;
}

.fruit-holder{
    background-color: rgba(50, 50, 123,0.25);
    border-radius: 100px;
    padding: 20px;
    border: 5px solid #32327b;
    display: flex;
    align-items: center;
}

.drop-zone-card{
    display: flex;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    justify-content: space-evenly;
}

#blue-drop-card{
    background-color: rgba(61, 98, 173, 0.25);
    border: 5px solid #3d62ad;
}

#straw-drop-card{
    background-color: rgba(237, 26, 96, 0.25);
    border: 5px solid #ed1a60;
}

#orange-drop-card{
    background-color: rgba(244, 122, 32, 0.25);
    border: 5px solid #f47a20;
}

#lemon-drop-card{
    background-color: rgba(241, 233, 2, 0.25);
    border: 5px solid #f1e902;
}

#outro{
    align-items: center;
    margin-bottom: 100px;
    line-height: 30px;
    padding-top: 0;
    margin-top: 0;
}

/* was going to be used for the drag and drop game, i plan on getting it to work when i have the time */
/* from https://css-generators.com/wavy-circle/ */
/* .wavy-circle {
  --s: 100px;
    background-color: #3d62ad;
  width: var(--s); 
  aspect-ratio: 1;
  --g:/calc(var(--s)*0.262) calc(var(--s)*0.262) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
  mask: calc(50% + var(--s)*0.197) calc(50% + var(--s)*0.271) var(--g),calc(50% + var(--s)*-0.197) calc(50% + var(--s)*0.271) var(--g),calc(50% + var(--s)*-0.319) calc(50% + var(--s)*-0.104) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*-0.335) var(--g),calc(50% + var(--s)*0.319) calc(50% + var(--s)*-0.104) var(--g),radial-gradient(calc(var(--s)*0.371),#000 99%,#0000 101%) subtract,calc(50% + var(--s)*0) calc(50% + var(--s)*0.443) var(--g),calc(50% + var(--s)*-0.422) calc(50% + var(--s)*0.137) var(--g),calc(50% + var(--s)*-0.261) calc(50% + var(--s)*-0.359) var(--g),calc(50% + var(--s)*0.261) calc(50% + var(--s)*-0.359) var(--g),calc(50% + var(--s)*0.422) calc(50% + var(--s)*0.137) var(--g);
} */

/* from https://css-shape.com/star/ */
.star {
  width: 100px;
  aspect-ratio: 1;
  background: rgba(241, 233, 2, 0.55);
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
  /* or more simple
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
   */
}

/* --- Footer ------------------------- */
footer{
    padding-top: 200px;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    background-image: url(../images/footer-bg.svg);
    background-position: top center;
    background-repeat: repeat;
    background-size: 100% 100%;
    padding-bottom: 100px; 
    color: white;
}

footer > h3, h4{
    font-weight: 100;
}


footer ul li {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

#social-media img{
    height: 50px;
}

/* --- Tablet Media Queries -------------------------*/

@media screen and (min-width: 768px) {

    p{
        font-size: 18px;
    }

    #logo{
        order: -1;
    }
    
    .hidden-box{
        display: block;
    }

    /* Tablet header */
    #cart{
        display: block;
        padding: 15px;
        background-color: #fff;
        border-radius: 50%;
        align-self: center;
    }

    #pfp{
        display: block;
        padding: 15px;
        background-color: #fff;
        border-radius: 50%;
        align-self: center;
    }

    #logo{
        padding: 15px;
    }
    
    #button{
        display: none;
    }

    #burger-con{
        display: block;
    }

    #nav-links {
        display: flex;
        justify-content: space-evenly;
    }

    #nav-links li a{
        text-decoration: none;
        color: #ffffff;
        transition: 0.2s all ease-in-out;
        font-size: 18px;
    }

    #nav-links li a:hover{
        padding: 5px 0 5px 0;
    }

    /* -- Tablet Hero Image ------------------------ */
    #hero-text{
        display: block;
    }

    #hero-shop-now{
        display: block;
    }

    #nested-hero-grid h3{
        font-size: 40px;
        letter-spacing: normal;
    }

    #hero-text p{
        font-size: 20px;
    }

    #hero-shop-now a{
        font-size: 20px;
    }

    .hidden-star{
        display: block;
    }

    #hero-button{
        display: block;
    }
    
    #why-choose-orbitz div{
        padding: 0px;
    }

    form{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-column-gap: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    input, textarea{
        padding: 15px;
        border-radius: 50px;
        height: 60px;
        font-family: 'basic sans', sans-serif;
        border: 5px solid #32327b;
        background-color: #ffffff;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .lightbox0 {
        grid-column: 1/5;
        margin: 0;
        position: absolute;
        text-align: right;
        top: 5%;
        background-color: rgba(237, 26, 96, 0.45);
    }

    .lightbox1{
        grid-column: 1/5;
        margin: 0;
        position: absolute;
        text-align: right;
        top: 20%;
        background-color: rgba(244, 122, 32, 0.45);
    }

    .lightbox2{
        grid-column: 9/13;
        margin: 0;
        position: absolute;
        text-align: right;
        top: 15%;
        background-color: rgba(241, 233, 2, 0.45);
        text-align: left;
    }

    #technology{
        top: 16%;
        left: 38%;
    }

    #sustainability{
        top: 51%;
        left: 37%;
    }

    #flavours{
        top: 31%;
    }


    /* ------------ PRODUCTS PAGE -------------- */
    #multipacks{
        display: block;
    }

    #merch{
        display: block;
    }

    #galaxy-pack-con{
    background-color: #fff;
    background-image: url(../images/galaxy-pack-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 25%;
    padding-bottom: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.product-card p{
    grid-column: 1/3;
    padding-top: 15px;
    line-height:  30px;
    padding-left: 10px;
    font-size: 18px;
}
 

    #galaxy-pack-info-card{
        background-color: white;
        margin: 30px;
        border-radius: 500px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-column-gap: 30px;
        padding: 70px;
        position: relative;
    }

    #galaxy-pack-info-card #new{
        position: absolute;
        font-family: 'bagel fat';
        font-size: 60px;
    }

    div#galaxy-pack-info-card #new {
        color: #32327b;
        -webkit-text-stroke: 10px white;
        paint-order: stroke;
    }

    #galaxy-h4{
        grid-column: 1/5;
    }

    #galaxy-pack-info-card p{
        grid-column: 1/3;
        margin-left: 60px;
        margin-top: 10px;
        align-self: center;
        order: 0;
    }

    #galaxy-pack-info-card img{
        grid-column: 3/5;
    }

    #galaxy-pack-info-card #new{
        color: white;
    }

    #galaxy-pack-info-card button{
        border: 5px solid #32327b;
        background-color: white;
        border-radius: 30px;
        font-family: 'basic sans', sans-serif;
    }

    #galaxy-pack-info-card .quantity{
        grid-column: 1/3;
    }

    #galaxy-pack-info-card .add-to-cart{
        grid-column: 1/3;
    }

    #galaxy-pack-info-card .classic{
        grid-column: 3/4;
    }

    #galaxy-pack-info-card .zero-sugar{
        grid-column: 4/5;
    }

    .merch-card{
        display: grid;
        grid-template-columns: repeat(9, minmax(0, 1fr));
        grid-column-gap: 30px;
    }

    .merch-card img{
        grid-column: 1/5;
        grid-row: 1/4;
        align-items: center;
    }

    .merch-card h4, .merch-card p, .merch-card button{
        grid-column: 5/9;
    }

    /* ------------ ABOUT PAGE ------------------ */

    .about-hero-text h2{
        font-size: 50px;
    }

#faq{
    background-color: #ffffff;
    background-image: url(../images/faq-bg.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 350px;
}

#faq summary{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#faq details{
    background-color: white;
    border-radius: 100px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

    #history{
    background-color: #ffffff;
    background-image: url(../images/history-bg-tablet.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 250px; 
    color: white;
}

    #about-star{
        display: block;
    }

    #star-97{
        order: 1;
    }

    #star-26{
        order: 1;
    }

    footer{
        padding-top: 200px;
        display: flex;
        justify-content: space-evenly;
        background-color: #ffffff;
        background-image: url(../images/footer-bg.svg);
        background-position: top center;
        background-repeat: repeat;
        background-size: 100% auto;
        padding-bottom: 100px; 
        color: white;
    }

}

/* --Desktop Queries ------------------------------------ */

@media screen and (min-width: 1200px){
    p{
        font-size: 22px;
    }

    #hero-text{
        padding-top: 80px;
    }

    #nested-hero-grid h3{
        font-size: 65px;
    }

    #hero-shop-now a{
        font-size: 30px;
    }

    #products-hero-text{
        font-size: 30px;
    }

    .about-hero-text h2{
        font-size: 60px;
    }

        #history{
    background-color: #ffffff;
    background-image: url(../images/pink-divider.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 50px;
    padding-bottom: 100px; 
    color: white;
    /* height: 1000px; */
}

#history p{
    font-size: 18px;
}

#faq{
    background-color: #ffffff;
    background-image: url(../images/faq-bg-dek.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 400px;
    padding-bottom: 350px;
}

#faq summary{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#faq details{
    background-color: white;
    border-radius: 100px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
}