/* --1-- General Rules -----------------------*/
@font-face {
    font-family: 'bagel fat';
    src: url('../fonts/BagelFatOne-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'basic sans', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'bagel fat', sans-serif;
}

.center-box{
justify-self: center;
}

.hidden-box{
   display:none;
}

/* --2-- Header ----------------------*/

#cart{
    display: none;
}

#pfp{
    display: none;
}

#button{
    background: url(../images/burger.svg) center no-repeat;
    border: 0px;
    width: 20px;
    height: 20px;
    transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
}

#button button.expanded{
    transform: rotate(90deg);
}

#burger-con {
   margin-top: 20px;
   display: none;
   margin-bottom: 20px;
}

#burger-con.slide-toggle {
   display: block;
}

#nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-links li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
}

#logo{
    padding: 50px;
}

#header-con{
    align-items: center;
}

header{
    background-color: #ffffff;
    box-shadow: 0 5px 30px #32327b;
}

/* --3-- Hero Image ---------------------------- */

#hero-image{
   grid-column: 1/-1;
   grid-row:1/1;
   justify-self: center;
   object-fit: cover;
   object-position: center;
   /* filter: contrast(150%); */
   z-index: -1;

}

#nested-hero-grid{
    grid-column: 2/3;
    grid-row: 1;
}

#nested-hero-grid h3{
    color: white;
    letter-spacing: 5px;
    font-size: 28px;
    text-align: right;
    align-self: end;
}

#nested-hero-grid p{
    text-align: right;
    color: white;
}

#hero-shop-now a{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    transition: all .5s ease-in-out;
    text-decoration: none;
    color: #32327b;
    align-self: end;
    border: 5px solid #32327b
}

@keyframes border-colour{
    0%{border: 5px solid #f1e902}
    25%{border: 5px solid #f47a20}
    50%{border: 5px solid #ed1a60}
    75%{border: 5px solid #3d62ad}
    100%{border: 5px solid #32327b}
}

#hero-shop-now a:hover{
    animation: border-colour 1s ease-in-out;
    animation-iteration-count: infinite;
}

#hero-text{
    margin-top: 50px;
    text-shadow: 3px 3px 2px #32327b;
}

#hero-text p{
    font-size: 20px;
}

/* --3-- Welcome Section ------------------------------- */

/* --4-- Bottle Info Hotspots Section ----------------------- */

/* --- Tablet Media Queries -------------------------*/

@media screen and (min-width: 768px) {
    
    /* Tablet header */
    #cart{
        display: block;
        padding: 15px;
    }

    #pfp{
        display: block;
        padding: 15px;
    }

    #logo{
        padding: 15px;
    }
    
    #button{
        display: none;
    }

    #burger-con{
        display: block;
    }

    #nav-links {
        display: flex;
        justify-content: space-evenly;
    }

    #nav-links li a{
        text-decoration: none;
        color: #32327b;
        transition: 0.2s all ease-in-out;
        font-size: 18px;
    }

    #nav-links li a:hover{
        padding: 5px 0 5px 0;
    }

    /* -- Tablet Hero Image ------------------------ */

    #nested-hero-grid h3{
        font-size: 50px;
    }

    #hero-text p{
        font-size: 24px;
    }

    #hero-shop-now a{
        font-size: 20px;
    }


    /* ------------ PRODUCTS PAGE -------------- */
    #multipacks{
        display: block;
    }

    #merch{
        display: block;
    }
}

/* --Desktop Queries ------------------------------------ */

@media screen and (min-width: 1200px){
    #hero-text{
        padding-top: 80px;
    }

    #nested-hero-grid h3{
        font-size: 65px;
    }

    #hero-shop-now a{
        font-size: 30px;
    }
}