/* --1-- General Rules -----------------------*/
@font-face {
    font-family: 'bagel fat';
    src: url('../fonts/BagelFatOne-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'basic sans', sans-serif;
    color:#32327b
}

h2, h3, h4, h5, h6 {
    font-family: 'bagel fat', sans-serif;
}

.center-box{
justify-self: center;
}

.hidden-box{
   display:none;
}

.justify-right{
    text-align: right;
}

/* --2-- Header ----------------------*/

#cart{
    display: none;
}

#pfp{
    display: none;
}

#button{
    background: url(../images/burger.svg) center no-repeat;
    border: 0px;
    width: 20px;
    height: 20px;
    transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
}

#button button.expanded{
    transform: rotate(90deg);
}

#burger-con {
   margin-top: 20px;
   display: none;
   margin-bottom: 20px;
}

#burger-con.slide-toggle {
   display: block;
}

#nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-links li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
}

#logo{
    padding: 50px;
}

#header-con{
    align-items: center;
}

header{
    background-color: #ffffff;
    box-shadow: 0 5px 30px #32327b;
}

/* --3-- Hero Image ---------------------------- */

#hero-image{
   grid-column: 1/-1;
   grid-row:1/1;
   justify-self: center;
   object-fit: cover;
   object-position: center;
   /* filter: contrast(150%); */
   z-index: -1;

}

#nested-hero-grid{
    grid-column: 2/3;
    grid-row: 1;
}

#nested-hero-grid h3{
    color: white;
    letter-spacing: 5px;
    font-size: 28px;
    text-align: right;
    align-self: end;
}

#nested-hero-grid p{
    text-align: right;
    color: white;
}

#hero-shop-now a{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    transition: all .5s ease-in-out;
    text-decoration: none;
    color: #32327b;
    align-self: end;
    border: 5px solid #32327b
}

@keyframes border-colour{
    0%{border: 5px solid #f1e902}
    25%{border: 5px solid #f47a20}
    50%{border: 5px solid #ed1a60}
    75%{border: 5px solid #3d62ad}
    100%{border: 5px solid #32327b}
}

#hero-shop-now a:hover{
    animation: border-colour 1s ease-in-out;
    animation-iteration-count: infinite;
}

#hero-text{
    margin-top: 50px;
    text-shadow: 3px 3px 2px #32327b;
}

#hero-text p{
    font-size: 20px;
}

/* --3-- Welcome Section ------------------------------- */

/* --4-- Bottle Info Hotspots Section ----------------------- */


/* ---------- PRODUCTS PAGE -------------------------- */
.product-card{
    padding: 100px 50px 20px 50px;
    margin: 15px;
    border-radius: 500px 500px 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
   grid-column-gap: 30px;
}

.product-card h4{
    grid-column: 2/4;
    text-align: center;
}

.product-card p{
    grid-column: 1/3;
    /* padding-top: 30px; */
    line-height:  30px;
}

.product-card img{
    grid-column: 3/5;
}

.product-card button{
    background-color: white;
    border: none;
    font-family: 'basic sans', sans-serif;
    /* grid-column: span 2; */
    margin: 10px;
    /* padding: 20px; */
    border-radius: 50px;
    color: #32327b;
    border: 5px solid white;
}

.quantity{
    grid-column: 1/5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}

.plus{
    font-size: 35px
}

.plus:hover{
    cursor:pointer;
}

.quantity-number{
    font-size: 25px;
}

.minus{
    font-size: 35px;
}

.minus:hover{
    cursor: pointer;
}

.add-to-cart{
    grid-column: 1/5;
    padding: 20px;
}

.classic{
    grid-column: span 2;
    padding: 20px;
    transition: all .5s ease-in-out;
}

.classic:hover{
    cursor: pointer;
    transform: translateY(-5px)
}

.zero-sugar{
    grid-column: span 2;
    padding: 20px;
    transition: all .5s ease-in-out;
}

.zero-sugar:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

#blueberry-product-card{
    background-color: #3d62ad;
    color: white;
}

#strawberry-product-card{
    background-color: #ed1a60;
    color: white;
}

#orange-product-card{
    background-color: #f47a20;
    color: white;
}

#lemon-product-card{
    background-color: #f1e902;
}

.add-to-cart:hover{
    animation: border-colour 2s ease-in-out;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#testimony{
    display: grid;
    background-color: #ed1a60;
    color: white;
    font-size: 20px;
    padding: 15px;
    margin: 40px 0px;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    margin: 0 auto;
}

#multi-intro{
    align-self: center;
    line-height: 35px;
}

#blueberry-pack{
    background-color: #3d62ad;
    color: white;
}

#blueberry-pack img{
    grid-column: 1/5;
}

#strawberry-pack{
    background-color: #ed1a60;
    color: white;
}

#strawberry-pack img{
    grid-column: 1/5;
}

#orange-pack{
    background-color: #f47a20;
    color: white;
}

#orange-pack img{
    grid-column: 1/5;
}

#lemon-pack{
    background-color: #f1e902;
}

#lemon-pack img{
    grid-column: 1/5;
}

#galaxy-pack-con{
    background-color: #32327b;
}

#galaxy-pack-info-card{
    background-color: white;
    margin: 30px;
    border-radius: 500px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}

#galaxy-pack-info-card span{
    position: absolute;
    font-family: 'bagel fat';
    font-size: 60px;
    transform: translateX(50px) rotate(-25deg);
}

div#galaxy-pack-info-card span {
    color: #32327b;
    -webkit-text-stroke: 10px white;
    paint-order: stroke;
}

#galaxy-h4{
    grid-column: 2/4;
}

#galaxy-pack-info-card p{
    grid-column: 1/5;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    order: 1;
    text-align: center;
}

#galaxy-pack-info-card img{
    grid-column: span 4;
}

#galaxy-pack-info-card span{
    color: white;
}

#galaxy-pack-info-card button{
    border: 5px solid #32327b;
    background-color: white;
    border-radius: 30px;
    font-family: 'basic sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    order: 1;
    color: #32327b;
}

#galaxy-pack-info-card .quantity{
    grid-column: 1/5;
}

#galaxy-pack-info-card .add-to-cart{
    grid-column: 1/5;
    background-color: #32327b;
    color: white;
}

#galaxy-pack-info-card .classic{
    grid-column: 1/3;
}

#galaxy-pack-info-card .zero-sugar{
    grid-column: 3/5;
}

#merch-intro{
    line-height: 30px;
    align-self: center;
}

.merch-card{
    border: 5px solid #32327b;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 30px;
    border-radius: 500px;
    padding: 20px;
}

.merch-card img{
    grid-column: 2/4;
    justify-self: center;
}

.merch-card h4{
    grid-column: 1/5;
    text-align: center;
}

.merch-card p {
    grid-column: 1/5;
    padding: 30px;
}

.merch-card button{
    grid-column: 2/4;
    border: 5px solid #32327b;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.merch-card .add-to-cart{
    background-color: #32327b;
    color: white;
}


/* ---------- ABOUT PAGE ------------------ */

.about-hero-text h2{
    font-size: 40px;
    font-family: 'bagel fat', sans-serif;
    color: white;
}

.about-hero-text h2:nth-of-type(2){
    text-align: right;
}

.about-h{
    padding: 40px;
    font-weight: 100;
}

#about-us{
    align-self: center;
    line-height: 30px;
}

#about-us h2{
    margin-bottom: 20px;
}

#step-in{
    align-self: center;
    line-height: 30px;
}

/* --- history section */
#history-96{
    display: flex;
}

#history-96 p{
    align-self: center;
}

#history-97{
    display: flex;
}

#history-97 p{
    align-self: center;
}

#history-99{
    display: flex;
}

#history-99 p{
    align-self: center;
}

#history-26{
    display: flex;
}

#history-26 p{
    align-self: center;
}

#star-97{
    order: 1;
}

#star-26{
    order: 1;
}

#history{
    background-color: #ed1a60;
    color: white;
}

/* -- about the beverage section ----- */
.about-bev-p{
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blue-star-svg{
    align-self: center;
}

.info-card{
    display: flex;
    background-color: #f1e902;
    border-radius: 50px;
    margin: 20px;
}

.info-card div{
    background-color: white;
    padding: 10px;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    margin: 10px;
    display: flex;
    border: 5px solid #32327b;
}

.info-card div > img {
    justify-content: center;
    align-items: center;
}

.info-card p {
    align-self: center;
}

.info-card:nth-of-type(1) {
    background-color: #3d62ad;
    color: white;
}

.info-card:nth-of-type(2) {
    background-color: #ed1a60;
    color: white;
}

.info-card:nth-of-type(3){
    background-color: #f47a20;
    color: white;
}

/* -- FAQ ---- */
#faq{
    background-color: #f47a20;
}

#faq summary{
    list-style: none;
    /* background-color: white; */
    /* padding: 30px; */
    /* border-radius: 50px; */
    margin-top: 10px;
    margin-bottom: 10px;
}

#faq details{
    background-color: white;
    border-radius: 50px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#faq details > p{
    border-top: 1px solid #32327b;
    padding-top: 10px;
}

#faq h2{
    color: white;
}

/* -- fruit drag/drop section */
#flavour-instructions{
    line-height: 30px;
    margin-bottom: 10px;
    align-self: center;
}

.fruit-holder{
    background-color: rgba(50, 50, 123,0.25);
    border-radius: 100px;
    padding: 20px;
    border: 5px solid #32327b;
    display: flex;
    align-items: center;
}

.drop-zone-card{
    display: flex;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    justify-content: space-evenly;
}

#blue-drop-card{
    background-color: rgba(61, 98, 173, 0.25);
    border: 5px solid #3d62ad;
}

#straw-drop-card{
    background-color: rgba(237, 26, 96, 0.25);
    border: 5px solid #ed1a60;
}

#orange-drop-card{
    background-color: rgba(244, 122, 32, 0.25);
    border: 5px solid #f47a20;
}

#lemon-drop-card{
    background-color: rgba(241, 233, 2, 0.25);
    border: 5px solid #f1e902;
}

/* from https://css-generators.com/wavy-circle/ */
.wavy-circle {
  --s: 100px; /* adjust to control the size */
    background-color: #3d62ad;
  width: var(--s); 
  aspect-ratio: 1;
  --g:/calc(var(--s)*0.262) calc(var(--s)*0.262) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
  mask: calc(50% + var(--s)*0.197) calc(50% + var(--s)*0.271) var(--g),calc(50% + var(--s)*-0.197) calc(50% + var(--s)*0.271) var(--g),calc(50% + var(--s)*-0.319) calc(50% + var(--s)*-0.104) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*-0.335) var(--g),calc(50% + var(--s)*0.319) calc(50% + var(--s)*-0.104) var(--g),radial-gradient(calc(var(--s)*0.371),#000 99%,#0000 101%) subtract,calc(50% + var(--s)*0) calc(50% + var(--s)*0.443) var(--g),calc(50% + var(--s)*-0.422) calc(50% + var(--s)*0.137) var(--g),calc(50% + var(--s)*-0.261) calc(50% + var(--s)*-0.359) var(--g),calc(50% + var(--s)*0.261) calc(50% + var(--s)*-0.359) var(--g),calc(50% + var(--s)*0.422) calc(50% + var(--s)*0.137) var(--g);
}

/* --- Footer ------------------------- */
footer{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #32327b;
    color: white;
}

footer > h3, h4{
    font-weight: 100;
}


footer ul li {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

#social-media img{
    height: 50px;
}

/* --- Tablet Media Queries -------------------------*/

@media screen and (min-width: 768px) {
    
    /* Tablet header */
    #cart{
        display: block;
        padding: 15px;
    }

    #pfp{
        display: block;
        padding: 15px;
    }

    #logo{
        padding: 15px;
    }
    
    #button{
        display: none;
    }

    #burger-con{
        display: block;
    }

    #nav-links {
        display: flex;
        justify-content: space-evenly;
    }

    #nav-links li a{
        text-decoration: none;
        color: #32327b;
        transition: 0.2s all ease-in-out;
        font-size: 18px;
    }

    #nav-links li a:hover{
        padding: 5px 0 5px 0;
    }

    /* -- Tablet Hero Image ------------------------ */

    #nested-hero-grid h3{
        font-size: 50px;
    }

    #hero-text p{
        font-size: 24px;
    }

    #hero-shop-now a{
        font-size: 20px;
    }


    /* ------------ PRODUCTS PAGE -------------- */
    #multipacks{
        display: block;
    }

    #merch{
        display: block;
    }

    #galaxy-pack-info-card{
        background-color: white;
        margin: 30px;
        border-radius: 500px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-column-gap: 30px;
        padding: 70px;
        position: relative;
    }

    #galaxy-pack-info-card span{
        position: absolute;
        font-family: 'bagel fat';
        font-size: 60px;
        transform: translateX();
    }

    div#galaxy-pack-info-card span {
        color: #32327b;
        -webkit-text-stroke: 10px white;
        paint-order: stroke;
    }

    #galaxy-h4{
        grid-column: 1/5;
    }

    #galaxy-pack-info-card p{
        grid-column: 1/3;
        margin-left: 60px;
        margin-top: 10px;
        align-self: center;
        order: 0;
    }

    #galaxy-pack-info-card img{
        grid-column: 3/5;
    }

    #galaxy-pack-info-card span{
        color: white;
    }

    #galaxy-pack-info-card button{
        border: 5px solid #32327b;
        background-color: white;
        border-radius: 30px;
        font-family: 'basic sans', sans-serif;
    }

    #galaxy-pack-info-card .quantity{
        grid-column: 1/3;
    }

    #galaxy-pack-info-card .add-to-cart{
        grid-column: 1/3;
    }

    #galaxy-pack-info-card .classic{
        grid-column: 3/4;
    }

    #galaxy-pack-info-card .zero-sugar{
        grid-column: 4/5;
    }

    .merch-card{
       display: grid;
        grid-template-columns: repeat(9, minmax(0, 1fr));
        grid-column-gap: 30px;
    }

    .merch-card img{
        grid-column: 1/5;
        grid-row: 1/4;
        align-items: center;
    }

    .merch-card h4, .merch-card p, .merch-card button{
        grid-column: 5/9;
    }

    /* ------------ ABOUT PAGE ------------------ */

    #about-star{
        display: block;
    }

    #star-97{
        order: 0;
    }

    #star-26{
        order: 0;
    }

}

/* --Desktop Queries ------------------------------------ */

@media screen and (min-width: 1200px){
    #hero-text{
        padding-top: 80px;
    }

    #nested-hero-grid h3{
        font-size: 65px;
    }

    #hero-shop-now a{
        font-size: 30px;
    }
}